<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>726980591928-r0geuejt0nfb4qfbbm1d5176osv4hvui.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.726980591928-r0geuejt0nfb4qfbbm1d5176osv4hvui</string>
	<key>API_KEY</key>
	<string>AIzaSyBiiylYS475YTVfvA1UtAu669usFT3SonM</string>
	<key>GCM_SENDER_ID</key>
	<string>726980591928</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.styletribute.seller</string>
	<key>PROJECT_ID</key>
	<string>styletribute-mobile</string>
	<key>STORAGE_BUCKET</key>
	<string>styletribute-mobile.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:726980591928:ios:0bb3b441003a4ef3</string>
	<key>DATABASE_URL</key>
	<string>https://styletribute-mobile.firebaseio.com</string>
</dict>
</plist>